*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #14478a;
  }
  
  button {
    float: left;
  }
  
  .btn{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
    border: none;
  }
  
  .btn:hover:not(.active) {
    background-color: #116db8;
  }
  
  .active {
    background-color: #116db8;
  }